<div class = "index">
    <div class = "row header" style = "width: 100%; height: 500px; line-height: 0px; margin: 0px;">
        <div class = "col-md-6 hidden-sm hidden-xs left-header">
            <div class = "bg-img" id = "bg-img-1" ></div>
            <div class = "bg-img" id = "bg-img-2"></div>
            <div class = "bg-img" id = "bg-img-3"></div>
        </div>
        <div class = "col-md-6 col-xs-12 right-header">
            <div class = "bg-img" id = "bg-img-4"></div>
            <div class = "bg-img" id = "bg-img-5"></div>
            <div class = "bg-img" id = "bg-img-6"></div>
            <div class = "bg-img" id = "bg-img-7"></div>
            <div class = "bg-img" id = "bg-img-8"></div>
        </div>
    </div>
</div>