<div class="row" style="margin-top:55px">
    <img src="{{user.avatar}}" height="350px" width="auto" class="center-block" style="margin-top:20px" />
    <div style="text-align:center">
        <h1>{{user.full_name}}</h1>
    </div>
    <div ng-bind-html="updateForm"></div>
    <div style="text-align:center" ng-show="setEditable">
        <div>
            <p>Graduation Year</p>
            <input type="text" class="form-control center-block" style="width:20%;text-align:center" ng-model="user.graduation_year">
        </div>
        <div>
            <p style="margin-top:10px">Major</p>
            <input type="text" class="form-control center-block" style="width:20%;text-align:center" ng-model="user.academic_major">
        </div>
        <button ng-click="updateUserDetails()" style="margin-top:20px;background-color:#EC443F;border-color:white;color:white" class="btn btn-default">Update</button>
    </div>
    <div style="text-align:center" ng-hide="setEditable">
        <div ng-if="user.graduation_year">
            <p><u>Graduation Year:</u></p>
            <span type="text" class="center-block" style="width:20%;text-align:center">{{user.graduation_year}}</span>
        </div>
        <div ng-if="user.academic_major">
            <p style="margin-top:10px"><u>Major:</u></p>
            <span type="text" class="center-block" style="width:20%;text-align:center"> {{user.academic_major}}</span>
        </div>

    </div>
</div>