<div class="row" style="margin-top:55px">
    <img src="{{user.avatar}}" height="350px" width="auto" class="center-block" style="margin-top:20px" />
    <div style="text-align:center">
        <h1>{{user.full_name}}</h1>
    </div>
    <div ng-bind-html="updateForm" ng-show="setEditable"></div>
    <div style="text-align:center" ng-hide="setEditable">
        <div ng-if="user.graduation_year">
            <h2>Graduation Year:</h2>
            <span type="text" class="center-block" style="width:20%;text-align:center">{{user.graduation_year}}</span>
        </div>
        <div ng-if="user.academic_major">
            <h2 style="margin-top:10px">Major:</h2>
            <span type="text" class="center-block" style="width:20%;text-align:center"> {{user.academic_major}}</span>
        </div>
        <div ng-if="user.description">
            <h2 style="margin-top:10px">About:</h2>
            <span type="text" class="center-block" style="width:20%;text-align:center"> {{user.description}}</span>
        </div>
        <div ng-if="user.skills.length > 0">
            <h2>Skills</h2>
            <div class="skills" style="word-wrap:break-word"><span class="skill" ng-repeat="s in user.skills">{{s.name}}</span></div>
        </div>
    </div>
</div>