<div class="project-header">
    <span class="project-name">{{project.name}}</span>
    <br>
    <span class="project-description">{{project.subtitle}}</span>
    <div>
        <a type = "button" class = "btn btn update-button"  ng-click="toggleEditable()" ng-show="isOwner">Toggle View</a>
    </div>
</div>

<div class = "container">
    <!-- HTML for if Owner -->
    <div class="row" ng-show="setEditable">
        <div ng-bind-html="updateProject" style="margin-top: 20px"></div>
        <div ng-bind-html="imageUploader"></div>
        <div ng-bind-html="teamMemberUploader"></div>
        <div ng-show="project.images && project.images.length !== 0" style="display:block">
            <h4>Uploaded Images</h4>
            <ul>
                <li ng-repeat="image in project.images">
                    {{image.subtitle}} &nbsp;
                    <a ng-click="removeImage(image.id)">[Delete]</a>
                </li>
            </ul>
        </div>
        <div ng-show="project.team_members && project.team_members.length !== 0" style="display:block">
            <h4>Team Members</h4>
            <ul>
                <li ng-repeat="team_member in project.team_members">
                    {{team_member.full_name}} &nbsp;
                    <a ng-click="removeTeamMember(project.id, team_member.id)">[Delete]</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- HTML if Viewing -->
    <div class="row project-details" ng-hide="setEditable">
        <div class="col-sm-9">
            <div id="image-carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#image-carousel" ng-repeat="image in project.images" data-slide-to="{{$index}}" ng-class="{active:$first}"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item"  ng-class="{active:$first}" ng-repeat="image in project.images">
                  <img ng-src="{{image.url}}" alt="...">
                  <div class="carousel-caption">{{image.subtitle}}</div>
              </div>
          </div>
        </div>
            <h2>Description</h2>
            {{project.description}}
            <h2>Skills</h2>
             <div class="skills" style="word-wrap:break-word"><span class="skill" ng-repeat="s in project.skills">{{s.name}}</span></div>
             <h2 ng-if="project.youtube_url">Watch It</h2>
             <iframe ng-if="project.youtube_url" ng-src="{{getYoutubeEmbed(project.youtube_url)}}" height=385 width=640></iframe>
             <h2 ng-if="project.github_url">Play with It</h2>
             <a ng-if="project.github_url" style="color:black" href="{{project.github_url}}" ng-if="p.github_url"><i class="fa fa-2x fa-github-square"></i></a>

        </div>
        <div class="col-sm-3" style="text-align:center">
            <h2>Status:</h2><h4>{{project.status}}</h4>
            <h2>Owner:</h2>
            <img class="img-responsive img-circle" alt="{{project.owner.full_name}}" style="max-width:50%; max-height: 50%; margin: auto; display: block;" ng-src="{{project.owner.avatar}}"/>
            <h4><a href="#/profile/{{project.owner.id}}">{{project.owner.full_name}}</a></h4>
            <p ng-if="project.owner.academic_major" style="margin:0px">{{project.owner.academic_major}}</p>
            <p ng-if="project.owner.graduation_month">{{project.owner.graduation_month}} {{project.owner.graduation_year}}</p>
            <h2 ng-if="project.team">Team Members</h2>
            <div class="team-member" ng-repeat="member in project.team_members">
                <img class="img-responsive img-circle" alt="{{member.full_name}}" style="max-width:50%; margin: auto; display: block;" ng-src="{{member.avatar}}"/>
                <h4><a href="#/profile/{{member.id}}">{{member.full_name}}</a></h4>
                <p ng-if="member.academic_major" style="margin:0px">{{member.academic_major}}</p>
                <p ng-if="member.graduation_month">{{member.graduation_month}} {{member.graduation_year}}</p>
            </div>
        </div>
    </div>
    <style>
        blockquote{
          margin: 10px 0px 10px 0px;
          padding: 0px 0px 0px 25px;
          border-left: 5px solid rgb(51, 51, 51);
          font-size: 14px;
        }
        blockquote > footer:before{
          content: initial;
        }
    </style>
    <div class="comments" ng-hide="setEditable" style="background-color: white; border-radius: 15px; padding: 15px;">
        <h2>Comments</h2>
        <div ng-show="loggedIn" ng-bind-html="commentUploader" class="comment-form">
        </div>
        <div ng-hide="loggedIn" class = "logged-out" style="margin: 25px; padding: 15px 0px; text-align: center; background-color:#EC443F">
            <p style="padding: 0px; margin: 0px; color: white">Join the conversation. <a href="/facebook_login">Login with Facebook</a></p>
        </div>
        <blockquote style = "color:rgb(51, 51, 51); font-size: 16px;"class="comment" ng-repeat="comment in project.comments">
            {{comment.comment}}
            <footer>
                <img class="img-responsive img-circle" alt="{{comment.user.full_name}}" style="max-width:25px; display: inline;" ng-src="{{comment.user.avatar}}"/>
                <a href="#/profile/{{comment.user.id}}">{{comment.user.full_name}}</a>
                <br>{{comment.timestamp|date:"MM/dd/yyyy 'at' h:mma"}}
            </footer>
        </blockquote>
    </div>
</div>
