<div class="row" style="margin-top:55px">
    <img ng-src="{{project.images[0].url}}" class="center-block" style="height:300px;width:auto">
    <div style="text-align:center">
        <h1>{{project.project.name}}</h1>
        <p>{{project.project.description}}</p>
        <h3>Status: {{project.project.status}}</h3>
        <h3>Owner: <a href="#/profile/{{project.project.owner.id}}">{{project.project.owner.full_name}}</a></h3>
        <a style="color:black" href="//{{project.project.github_url}}" ng-if="project.project.github_url"><i class="fa fa-4x fa-github-square"></i></a>
        <a style="color:black" href="//{{project.project.youtube_url}}" ng-if="project.project.youtube_url"><i class="fa fa-4x fa-youtube-square"></i></a>
    </div>
</div>