<div class="index container">
  <div class="text-center">
    <div class="btn-group" role="group" aria-label="..." style="align-content:center">
      <button type="button" class="btn project-toggle-button" ng-click="go('/completed')" ng-class="{active: status == 'completed'}">Completed</button>
      <button type="button" class="btn project-toggle-button" ng-click="go('/inprogress')" ng-class="{active: status == 'in_progress'}">In Progress</button>
      <button type="button" class="btn project-toggle-button" ng-click="go('/recommended')" ng-class="{active: status == 'recommended'}">Recommended</button>
      <button type="button" class="btn project-toggle-button" ng-click="go('/trending')" ng-class="{active: status == 'trending'}">Trending</button>
    </div>
  </div>
  <div class="row" style="margin-top:20px">
    <h4 style="text-align:center; margin-bottom:20px">Trending Projects</h4>
  </div>
</div>
</div>
