@font-face {
    font-family: 'BrandonReg';
    src: url('/static/css/fonts/BrandonGrotesque/Brandon_reg.eot');
    src: url('/static/css/fonts/BrandonGrotesque/Brandon_reg.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/BrandonGrotesque/Brandon_reg.woff') format('woff'),
         url('/static/css/fonts/BrandonGrotesque/Brandon_reg.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonBlack';
    src: url('/static/css/fonts/BrandonGrotesque/Brandon_blk.eot');
    src: url('/static/css/fonts/BrandonGrotesque/Brandon_blk.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/BrandonGrotesque/Brandon_blk.woff') format('woff'),
         url('/static/css/fonts/BrandonGrotesque/Brandon_blk.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonBold';
    src: url('/static/css/fonts/BrandonGrotesque/Brandon_bld.eot');
    src: url('/static/css/fonts/BrandonGrotesque/Brandon_bld.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/BrandonGrotesque/Brandon_bld.woff') format('woff'),
         url('/static/css/fonts/BrandonGrotesque/Brandon_bld.ttf') format('truetype');
}

@font-face {
    font-family: 'GothamBlk';
    src: url('/static/css/fonts/Gotham/GothamBlack.eot');
    src: url('/static/css/fonts/Gotham/GothamBlack.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Gotham/GothamBlack.woff') format('woff'),
         url('/static/css/fonts/Gotham/GothamBlack.ttf') format('truetype');
}
@font-face {
    font-family: 'GothamMed';
    src: url('/static/css/fonts/Gotham/Gotham-Medium.eot');
    src: url('/static/css/fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Gotham/Gotham-Medium.woff') format('woff'),
         url('/static/css/fonts/Gotham/Gotham-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('/static/css/fonts/Pacifico/Pacifico.eot');
    src: url('/static/css/fonts/Pacifico/Pacifico.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Pacifico/Pacifico.woff') format('woff'),
         url('/static/css/fonts/Pacifico/Pacifico.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamCondensedMedium';
  src: url('/static/css/fonts/GothamCondensedMedium/GothamCondensed-Medium.eot');
  src: local('â˜º'), url('/static/css/fonts/GothamCondensedMedium/GothamCondensed-Medium.woff') format('woff'), url('/assets/fonts/GothamCondensedMedium/GothamCondensed-Medium.ttf') format('truetype'), url('/assets/fonts/GothamCondensedMedium/GothamCondensed-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}