{% import 'macros.html' as macros %}

<form method="POST" action="/user/update">
    <div class="text-center">
        {{ form.hidden_tag() }}
        {{ macros.render_bootstrap_field(form.academic_major) }}
        {{ macros.render_bootstrap_field(form.graduation_month) }}
        {{ macros.render_bootstrap_field(form.graduation_year) }}
        {{ macros.render_bootstrap_field(form.description) }}
        <div class="col-md-6 col-md-offset-3">
            <input type="submit" value="Update" class="btn update-button">
        </div>
    </div>
</form>