{% import 'macros.html' as macros %}

<form method="post" action="{{url}}" id="project_form">
    <div class="text-center">
        {% if success %}
            {{ show_success() }}
        {% endif %}
        {{ form.hidden_tag() }}
        {{ macros.render_bootstrap_field(form.name) }}
        {{ macros.render_bootstrap_field(form.subtitle) }}
        {{ macros.render_bootstrap_field(form.status) }}
        {{ macros.render_bootstrap_field(form.cost) }}
        {{ macros.render_bootstrap_field(form.youtube_url) }}
        {{ macros.render_bootstrap_field(form.github_url) }}
        {{ macros.render_bootstrap_field(form.description) }}
        {{ macros.render_skills(form.skills) }}
        <div class="col-md-6 col-md-offset-3">
            <input type="submit" id="submit_project" value="Update" class="btn update-button">
        </div>
    </div>
</form>