{% import 'macros.html' as macros %}

<form method="POST" id="image_form" action="{{url}}" style="margin-top:30px">
    <div class="text-center">
        <h4 class="col-md-6 col-md-offset-3">Add Images</h4>
        {{ form.hidden_tag() }}
        {{ macros.render_bootstrap_field(form.url) }}
        {{ macros.render_bootstrap_field(form.subtitle) }}
        <div class="col-md-6 col-md-offset-3">
            <input type="submit" id="image-submit" value="Add Image" class="btn update-button">
        </div>
    </div>
</form>